<div class="container">
  <div class='text-center m-4'>
    <h1>My Bookings</h1>
  </div>
  <% @bookings.each do |booking| %>
    <div class="row my-3">
      <div class="col-sm-12">
        <div class="card-booking">
          <% number_of_days = booking.end_date - booking.start_date %>
          <% price = (booking.racket.price * number_of_days) + booking.racket.price %>
          <div>
            <% if booking.racket.photo.attached? %>
              <%= cl_image_tag booking.racket.photo.key, alt: "alttext" %>
            <% end %>
          </div>
          <div class="card-booking-infos">
            <div>
              <h5><%= booking.racket.model %></h5>
              <h6>Owner : <%= booking.racket.user.first_name %> <%= booking.racket.user.last_name %></h6>
              <p><em><%= booking.start_date.strftime("Booked from %d/%m/%Y") %> to <%= booking.end_date.strftime("%d/%m/%Y") %></em></p>
              <h6><%= price.to_i %>€</h6>
              <% if booking.confirmed? %>
                <p id="b-confirmed">Booking confirmed !</p>
              <% else %>
                <p id="wait-confirm">Waiting for owner confirmation ...</p>
              <% end %>
            </div>
            <div>
              <% if policy(booking).destroy? %>
                <button id="booking-delete" class="btn btn-danger">Cancel</button>
                <%= link_to "", booking_path(booking), method: :delete, id: "booking-delete-link", class: "hidden" %>
              <% end %>
            </div>
            <div>
              <%= link_to "Add a review",  new_racket_review_path(booking.racket), class: "btn btn-primary", id: "add-button", data: { turbolinks: false } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class='text-center m-4'>
    <h1>My Rentals</h1>
  </div>
  <% @rentals.each do |rental| %>
    <div class="row my-3">
      <div class="col-sm-12">
        <div class="card-booking">
          <% number_of_days = rental.end_date - rental.start_date %>
          <% price = (rental.racket.price * number_of_days) + rental.racket.price %>
          <div>
            <% if rental.racket.photo.attached? %>
              <%= cl_image_tag rental.racket.photo.key, alt: "alttext" %>
            <% end %>
          </div>
          <div class="card-booking-infos">
            <div>
              <h5><%= rental.racket.model %></h5>
              <h6>Renter : <%= rental.user.first_name %> <%= rental.user.last_name %></h6>
              <p><em><%= rental.start_date.strftime("Booked from %d/%m/%Y") %> to <%= rental.end_date.strftime("%d/%m/%Y") %></em></p>
              <h6><%= price.to_i %>€</h6>
              <% if rental.confirmed? %>
                <p id="b-confirmed">Rental confirmed !</p>
              <% else %>
                <p id="wait-confirm">Waiting for your confirmation ...</p>
              <% end %>
            </div>
            <div>
              <% if policy(rental).destroy? %>
                <button id="rental-delete" class="btn btn-danger">Decline</button>
                <%= link_to "", booking_path(rental), method: :delete, id: "rental-delete-link", class: "hidden" %>
              <% end %>
            </div>
            <% if !rental.confirmed%>
              <div>
                <% if policy(rental).update? %>
                  <button id="rental-accept" class="btn btn-success">Accept</button>
                  <%= link_to "", booking_path(rental), method: :patch, id: "update-link", class: "hidden" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
