<div class="container">
  <div class='text-center m-4'>
    <h1>My Bookings</h1>
  </div>
  <div class="row justify-content-center">
    <div class="card-racket-container">
      <% @bookings.each do |booking| %>
      <% number_of_days = booking.end_date - booking.start_date %>
      <% price = booking.racket.price * number_of_days %>
      <div class="card-racket m-2">
        <% if booking.racket.photo.attached? %>
          <%= cl_image_tag booking.racket.photo.key, height: 300, width: 400, crop: :fill, alt: "alttext" %>
        <% end %>
        <div class="card-racket-infos">
          <div>
            <h5><%= booking.racket.model %></h5>
            <h6>Owner : <%= booking.racket.user.first_name %> <%= booking.racket.user.last_name %></h6>
            <p>from <%= booking.start_date %></p>
            <p>to <%= booking.end_date %></p>
            <h6><%= price.to_i %>€</h6>
            <%= link_to "Cancel", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
