<div class="custom-container">
  <div class="container">
    <div class='text-center m-4'>
      <h1>My Bookings</h1>
    </div>
    <% @bookings.each do |booking| %>
    <div class="row my-3">
      <div class="col-sm-12">
        <div class="card-booking">
          <% number_of_days = booking.end_date - booking.start_date %>
          <% price = booking.racket.price * number_of_days %>
          <div>
            <% if booking.racket.photo.attached? %>
            <%= cl_image_tag booking.racket.photo.key, alt: "alttext" %>
            <% end %>
          </div>
          <div class="card-booking-infos">
            <div>
              <h5><%= booking.racket.model %></h5>
              <h6>Owner : <%= booking.racket.user.first_name %> <%= booking.racket.user.last_name %></h6>
              <p>from <%= booking.start_date %></p>
              <p>to <%= booking.end_date %></p>
              <h6><%= price.to_i %>€</h6>
              <% if booking.confirmed? %>
              <p>Booking confirmed !</p>
              <% else %>
              <p>Waiting for owner confirmation ...</p>
              <% end %>
            </div>
            <div>
              <%= link_to "Cancel", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class='text-center m-4'>
      <h1>My Rentals</h1>
    </div>
    <% @rentals.each do |rental| %>
    <div class="row my-3">
      <div class="col-sm-12">
        <div class="card-booking">
          <% number_of_days = rental.end_date - rental.start_date %>
          <% price = rental.racket.price * number_of_days %>
          <div>
            <% if rental.racket.photo.attached? %>
            <%= cl_image_tag rental.racket.photo.key, alt: "alttext" %>
            <% end %>
          </div>
          <div class="card-booking-infos">
            <div>
              <h5><%= rental.racket.model %></h5>
              <h6>Renter : <%= rental.user.first_name %> <%= rental.user.last_name %></h6>
              <p>from <%= rental.start_date %></p>
              <p>to <%= rental.end_date %></p>
              <h6><%= price.to_i %>€</h6>
              <% if rental.confirmed? %>
              <p>Rental confirmed !</p>
              <% else %>
              <p>Waiting for your confirmation ...</p>
              <% end %>
            </div>
            <div>
              <%= link_to "Decline", booking_path(rental), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </div>
            <% if !rental.confirmed%>
            <div>
              <%= link_to "Accept", booking_path(rental), method: :patch, class: "btn btn-success" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>


</div>