<div class="container">
  <h1>Edit racket</h1>
  <%= simple_form_for(@racket) do |f| %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :photo, as: :file %>
  <%= f.input :availability %>
  <%= f.submit "Edit this racket", class: "btn btn-primary" %>
  <% end %>
</div>

<hr>
<%= link_to root_path do %>
  <i class="fa fa-history"></i> Back to list of rackets
<% end %>