<div class="container">
<div class="text-center m-4">
  <h1>Edit racket</h1>
</div>
  <%= simple_form_for(@racket) do |f| %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :photo, as: :file %>
  <%= f.input :availability %>
  <%= f.submit "Edit racket", class: "btn btn-primary", id:'add-button' %>
  <% end %>
</div>
