<div class="banner mb-4"
  style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1581079708051-9784b310349f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1636&q=80);">
  <div class="container">
    <h1 id="title"><strong>AMA</strong></h1>
    <h3>Enjoy playing anytime, anywhere!</h3>
    <p>Stop thinking of whether or not you should bring your tennis racket with you.
      Anywhere you go, AMA is here to provide you the best rackets nearby!</p>
    <%= simple_form_for(:search, url: root_path, method: :get, html: {class: 'form-inline'}) do |f| %>
    <%= f.input :models, collection: Racket.all.pluck(:model), input_html: { class: "js-example-placeholder-multiple", name: "models[]", multiple: "multiple" }, label:false %>
    <%= f.input :location, label:false, placeholder: "Location", input_html: {class: 'ml-4'}%>
    <button type="submit" name="commit" value="" class="btn btn-primary ml-4" data-disable-with="Search">Search your racket  <i class="fas fa-table-tennis"></i></button>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mb-2 mt-2">
    <div class="card-racket-container">
      <% @rackets.each do |racket| %>
      <div class="card-racket m-2">
        <% if racket.photo.attached? %>
        <%= cl_image_tag racket.photo.key, height: 300, width: 400, class:'cloudinary-image', alt: "alttext" %>
        <div class="symbols">
          <% if policy(racket).edit? %>
            <%= link_to edit_racket_path(racket.id), class: 'pull-right btn btn-default' do %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
          <% if policy(racket).destroy? %>
            <%= link_to racket_path(racket), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash "></i>
            <% end %>
          <% end %>
        </div>
        <% end %>

        <h2><%= link_to racket.model, racket_path(racket), data: { turbolinks: false } %></h2>
        <div class="card-racket-infos">
          <p><i class="fas fa-map-marker-alt"></i> <%= racket.location %></p>
          <h6 class="card-racket-pricing"><%= racket.price %>€/day</h6>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
