<div class="banner mb-4 text-center" id="my-rackets-banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path 'my_rackets.jpeg' %>);">
  <div class="container">
    <h1 id="title"><strong>My rackets (<%= @rackets.count %>)</strong></h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mb-2 mt-2">
    <div class="card-racket-container">
      <% @rackets.each do |racket| %>
      <div class="card-racket m-2">
        <% if racket.photo.attached? %>
        <%= cl_image_tag racket.photo.key, height: 300, width: 400, class:'cloudinary-image', alt: "alttext" %>
        <div class="symbols">
          <% if policy(racket).edit? %>
            <%= link_to edit_racket_path(racket.id), class: 'pull-right btn btn-default' do %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
          <% if policy(racket).destroy? %>
            <%= link_to racket_path(racket), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash "></i>
            <% end %>
          <% end %>
        </div>
        <% end %>

        <h2><%= link_to racket.model, racket_path(racket), data: { turbolinks: false } %></h2>
        <div class="card-racket-infos">
          <p><i class="fas fa-map-marker-alt"></i> <%= racket.location %></p>
          <h6 class="card-racket-pricing"><%= racket.price %>€/day</h6>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
