<div class="container">
  <h1 class="display-">Add a new racket</h1>
  <%= simple_form_for(@racket) do |f| %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :location, label: 'City' %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :photo, as: :file %>
  <%= f.input :availability %>
  <%= f.submit "Add this racket", class: "btn btn-primary", id:'add-button' %>
  <% end %>
</div>
