<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <div class="racket-description-container">
      <div class="d-flex justify-content-between">
        <div class="racket-show-image card-racket">
          <% if @racket.photo.attached? %>
            <%= cl_image_tag @racket.photo.key, class: 'zoom' %>
          <% end %>
        </div>


        <div id="raquet-info">
          <h5><%= @racket.model %></h5>
          <h5 class="price-tag"><%= @racket.price %>€/day</h5>
          <p id="description-tag" class="mb-0"><em>Description:</em></p>
          <p class="text-justify"><%= @racket.description %></p>

          <h5><% @racket.reviews.each do |review| %>
            <% if review.content != "" %>
            <div>
              <%= review.rating %>
              <%= review.content %>
            </div>
            <% end %>
            <% end %>


          </h5>
        </div>
      </div>
      <div class="container mt-5">
        <h3>Location:</h3>
        <hr>
        <div class="row mt-4">
          <div id="map" class="container-map" data-markers="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>

    <div class="card-racket p-3" id="racket-booking-form">
      <h4 class="mt-2"><strong>Book racket:</strong></h4>
      <%= render "/shared/booking_form", booking: @booking %>
    </div>
  </div>
  <br>
</div>