<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <div class="racket-description-container">
      <div class="d-flex justify-content-between">
        <div class="racket-show-image">
          <% if @racket.photo.attached? %>
            <%= cl_image_tag @racket.photo.key, class: "racket-show-image" %>
          <% end %>
        </div>


        <div id="raquet-info">
          <h5><%= @racket.model %></h5>
          <h5 class="price-tag"><%= @racket.price %>€/day</h5>
          <p id="description-tag" class="mb-0"><em>Description:</em></p>
          <p class="text-justify"><%= @racket.description %></p>
        </div>
      </div>
      <div class="container mt-5">
        <h3>Location:</h3>
        <hr>
        <div class="row mt-4">
          <img id="map" class="offset-1" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/1200x1000?access_token=pk.eyJ1IjoiZnJhbmNvaXMtZGV6IiwiYSI6ImNrYWRwMWUzdTA5bHYydW54aWNicGUxaWkifQ.y8rHLHtGkEmYDYRQrLH4fQ'>
        </div>
      </div>
    </div>

    <div class="card-racket p-3" id="racket-booking-form">
      <h4 class="mt-2"><strong>Book racket:</strong></h4>
      <%= render "/shared/booking_form", booking: @booking %>
    </div>
  </div>
  <br>
</div>


