<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <div>
      <% if @racket.photo.attached? %>
        <%= cl_image_tag @racket.photo.key, class: 'racket-show-image', alt: "image of " %>
      <% end %>
    </div>


    <div id="raquet-info">
      <h3><%= @racket.model %></h3>
      <h3><%= @racket.price %>€</h3>
      <p>Description: </p>
      <p><%= @racket.description %></p>
    </div>

    <div class="card-racket p-3" id="racket-booking-form">
      <h4 class="mt-4"><strong>Book racket:</strong></h4>
      <%= render "/shared/booking_form", booking: @booking %>
    </div>
  <br>
</div>
  <h3>Location:</h3>
  <hr>
  <div class="row mt-4">
    <img id="map" class="offset-2" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/1200x1000?access_token=pk.eyJ1IjoiZnJhbmNvaXMtZGV6IiwiYSI6ImNrYWRwMWUzdTA5bHYydW54aWNicGUxaWkifQ.y8rHLHtGkEmYDYRQrLH4fQ'>
  </div>
</div>


